html, body {
  height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container > .rows {
    height: 16%;
}
#screen{
    height: 20%;
}
#container {
    width:30%;
    height:60%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
}
.rows {
      border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    flex: 1;
    justify-content: stretch;
}
button {
  flex: 1; 
}

